body {
  background-color: #ffe57d;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #fcca02;
  font-size: 40px;
  margin: auto;
  font-family: "Trirong", serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  width: 500px;
  height: 235px;
  padding: 1em;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0px 0px 15px rgb(149, 149, 149);
  background-color: rgb(255, 255, 255);
}



select{
  margin: auto;
  margin-bottom: 10px;

}

input{
  width: 100px;
  margin: auto;  
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
}

input:hover {
  background-color: #fcca02;
  color: white;
}

select{
  background-color: #fcca02;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; 
}

option{
  background-color: rgb(240, 240, 240);
  color: #000000;
}